@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  /* color -> msecondary */
  --color-white: oklch(100% 0 0);
  --color-black: oklch(0% 0 0);
  --color-theme: oklch(54.88% 0.167 257.87);
  --color-htheme: oklch(48.82% 0.217 264.38);
  --color-ebg: oklch(96.72% 0 0);
  --color-bBottomColor: oklch(96.72% 0 0);
  --color-bgGreen: oklch(62.71% 0.17 149.21);
  --color-ebg2: oklch(95.51% 0 0);
  --color-ebg3: oklch(98.21% 0 0);
  --color-cgray: oklch(54.44% 0.035 265.11);
  --color-pink1: oklch(80.79% 0.048 304.55);
  --color-red1: oklch(79.78% 0.038 34.82);
  --color-accordion: oklch(12.86% 0 0);
  --color-placeholder: oklch(64.34% 0 0);
  --color-blog: oklch(20.99% 0.034 263.44);
  --color-blog1: oklch(48.91% 0 0);

  /* font family */

  --font-sans: "DM Sans", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;

  /* font size */
  --text-pxs: 1.75rem; /* 28px */
  --text-psm: 4.375rem; /* 70px */
  --text-dt: 0.875rem; /* 14px */
  --text-pbase: 1rem; /* 16px */
  --text-plg: 1.125rem; /* 18px */
  --text-pxl: 1.25rem; /* 20px */
  --text-p2xl: 1.5rem; /* 24px */
  --text-p3xl: 1.875rem; /* 30px */
  --text-t2: 2.125rem; /* 34px */
  --text-p4xl: 2.25rem; /* 36px */
  --text-p5xl: 3.25rem; /* 48px */
  --text-p6xl: 3.75rem; /* 60px */
  --text-p7xl: 4.5rem; /* 72px */
  --text-p8xl: 6rem; /* 96px */
  --text-heroHeading: 7.125rem; /* 96px */
  --text-p9xl: 8rem; /* 128px */

  /* height */
  --height-heroimge: 37.25rem; /*596px*/
  --height-psm: 2rem;
  --height-pmd: 3rem;
  --height-plg: 4rem;
  --height-aem: 5em;
  --height-ism: 25rem;
  --height-imd: 28.125rem;
  --height-ilg: 34.375rem;
  --height-ixl: 45.625rem;
  --height-i: 18.75rem;
  --height-lh: 3.938rem; /*63px*/
  --height-bh: 15rem; /*240px*/
  --height-dh: 20.639rem; /*330.22px*/
  --height-story: 44.813rem; /*765px*/
  /* width */
  --width-psm: 2rem; /* 32px */
  --width-lw: 8.938rem; /*143px */
  --width-pmd: 3rem; /* 48px */
  --width-plg: 4rem;
  --width-bw: 18.125rem; /*290px*/
  --width-dw: 20.639rem; /*330.22px*/
  --width-bp: 440px;
  --width-story: 50.938rem; /*815px*/

  /* padding */
  --padding-xs: 0.25rem; /* 4px */
  --padding-sm: 0.5rem; /* 8px */
  --padding-md: 1rem; /* 16px */
  --padding-lg: 1.5rem; /* 24px */
  --padding-xl: 2rem; /* 32px */
  --padding-axl: 3.5rem; /* 56px */
  --padding-2xl: 4rem; /* 64px */
  --padding-pbn: 5.5rem; /* 88px */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@layer base {
  html {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  html {
    font-size: 11px;
  }
}
@media (min-width: 901px) and (max-width: 1100px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1101px) and (max-width: 1300px) {
  html {
    font-size: 11px;
  }
}

@media (min-width: 1301px) and (max-width: 1500px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1501px) and (max-width: 1700px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1701px) and (max-width: 2500px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 2501px) and (max-width: 3000px) {
  html {
    font-size: 24px;
  }
}

/* @media (min-width: 901px) and (max-width: 1300px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1301px) and (max-width: 1500px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1501px) and (max-width: 1700px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1701px) and (max-width: 2500px) {
  html {
    font-size: 20px;
  }
}


@media (min-width: 2501px) and (max-width: 3000px) {
  html {
    font-size: 26px;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom spacing between react-slick dots */
.slick-dots {
  bottom: 10px;
}

.slick-dots li {
  margin: 0 -5px !important; /* 👈 Forces 2px spacing */
}

.slick-dots li button:before {
  font-size: 10px;
  opacity: 0.5;
  color: var(--color-theme);
}

.slick-dots li.slick-active button:before {
  opacity: 20px;
  color: var(--color-theme);
}

.ul-custom-style ul li {
  position: relative;
  padding-left: 32px;
  margin-bottom: 18px;
}

.ul-custom-style ul li::before {
  content: "✔";
  color: white;
  background-color: #34a853; /* Google green */
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  width: 21px;
  height: 21px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  left: 0;
  top: 2px;
}

body {
  font-family: "DM Sans", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

/* In your CSS file or style tag */
.custom-shadow {
  box-shadow: 0 4px 20px #286ed021;
  border-radius: 12px;
}
.contact-shadow {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.18);
}
.accordion-shadow {
  /* box-shadow: 0px 0px 18.6px rgba(40, 110, 208, 0.10); */
  box-shadow: 0px 0px 18.6px #286ed01a;
}

.custom-font-style h1,
.custom-font-style h2,
.custom-font-style h3,
.custom-font-style h4,
.custom-font-style h5,
.custom-font-style h6 {
  font-size: 28px;
  color: #000;
  margin-top: 1rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
}

.custom-font-style p {
  margin-top: 1rem;
  text-align: justify;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  hyphens: auto;
}
